@font-face {
  font-family: 'weather';
  src: url('../assets/artill_clean_icons-webfont.eot');
  src: url('../assets/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/artill_clean_icons-webfont.woff') format('woff'),
  url('../assets/artill_clean_icons-webfont.ttf') format('truetype'),
  url('../assets/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background: #1192d3 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/austin-2.jpg) no-repeat bottom right;
  background-size: cover;
}

body {
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#time {
  width: 512px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  float: left;
  border-radius: 2px;
  margin: 2px;
}

#clock {
  font-size: 100px;
}

#time-date {
  font-size: 30px;
}

#weather {
  width: 440px;
  height: 250px;
  float: left;
  border-radius: 2px;
  margin: 2px;
}

#actiontiles {
  border:none;
  border-radius: 2px;
  background-color: #4caf50;
  margin: 2px;
  float: left;
}

#misc {
  border:none;
  border-radius: 2px;
  margin: 2px;
  float: left;
  width: 440px;
  height: 340px;
}

#button-1 {
  width: 216px;
  height: 166px;
  border:none;
  border-radius: 2px;
  margin: 2px;
  background-color: #4caf50;
  float: left;
}

#button-2 {
  width: 216px;
  height: 166px;
  border:none;
  border-radius: 2px;
  margin: 2px;
  background-color: #4caf50;
  float: left;
}

#button-3 {
  width: 216px;
  height: 166px;
  border:none;
  border-radius: 2px;
  margin: 2px;
  background-color: #4caf50;
  float: left;
}

#button-4 {
  width: 216px;
  height: 166px;
  border:none;
  border-radius: 2px;
  margin: 2px;
  background-color: #4caf50;
  float: left;
}

.forecast {
  float: left;
}

#forecast-1 {
  display: none;
}

#forecast-2 {
  display: none;
}

#forecast-3 {
  display: none;
}

#forecast-4 {
  display: none;
}

#time.january {
  text-align: center;
  background: #1192d3 url(../assets/january.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.february {
  text-align: center;
  background: #1192d3 url(../assets/february.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.march {
  text-align: center;
  background: #1192d3 url(../assets/march.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.april {
  text-align: center;
  background: #1192d3 url(../assets/april.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.may {
  text-align: center;
  background: #1192d3 url(../assets/may.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.june {
  text-align: center;
  background: #1192d3 url(../assets/june.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.july {
  text-align: center;
  background: #1192d3 url(../assets/july.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.august {
  text-align: center;
  background: #1192d3 url(../assets/august.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.september {
  text-align: center;
  background: #1192d3 url(../assets/september.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.october {
  text-align: center;
  background: #1192d3 url(../assets/october.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.november {
  text-align: center;
  background: #1192d3 url(../assets/november.jpg) no-repeat bottom right;
  background-size: cover;
}
#time.december {
  text-align: center;
  background: #1192d3 url(../assets/december.jpg) no-repeat bottom right;
  background-size: cover;
}

#weather {
  text-align: center;
  text-transform: uppercase;
  background: #1192d3 url(../assets/lewiston_maine.jpg) no-repeat bottom right;
  background-size: cover;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.day {
  float: left;
  font-weight: bold;
  width: 25%;
  text-align: center;
}

#weather .day i {
  font-size: 80px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 0px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.70);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  color: black;
  float: left;
  min-width: 60px;
  margin-left:15px;
  margin-right: 15px;
}

#weather li i {
  color: black;
  font-size: 60px;
}

#weather .currently {
  margin: 0 20px;
}
